{:deps {speclj/speclj {:mvn/version "3.12.0"}}
 :paths ["spec"]
 :tasks {test {:doc "Run all specs"
               :requires ([babashka.fs :as fs]
                          [speclj.core :as speclj])
               :task (do
                       (doseq [f (sort (map str (fs/glob "spec" "*_spec.clj")))]
                         (load-file f))
                       (speclj/run-specs))}}}
