{:worker-agent "scrapper"
 :name "Braids"
 :status :active
 :priority :high
 :autonomy :full
 :checkin :daily
 :channel "1471680593497554998"
 :max-workers 1
 :worker-timeout 3600
 :notifications {:iteration-start true
                 :bead-start true
                 :bead-complete true
                 :iteration-complete true
                 :no-ready-beads true
                 :question true
                 :blocker true}
 :notification-mentions {:iteration-complete ["<@274692642116337664>"]
                         :question ["<@274692642116337664>"]
                         :blocker ["<@274692642116337664>"]}}
